@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.CodeAnalysis.CSharp.Syntax
@model CheeseMVC.ViewModels.ViewMenuViewModel

<h1>@ViewBag.Title</h1>

@foreach (var menuItem in Model.Items)
{
    //instructions imply that this should be @cheeseMenu.Cheeses.Name but we'll see
    <ul>@menuItem.Cheese.Name</ul>
}

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>
